ul{
  border: 1px solid #f6f6f6;
  border-top: none;
}


li {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  list-style: none;
  font-size: 18px;
  font-weight: 600;
  color: #86888a;
  padding: 0 25px;
  .btn{
    display: none;
  }
  &:hover{
    padding: 0;
    .btn{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &:nth-child(odd) {
    background: #fdfdfe;
  }
  &:nth-child(even) {
    background: #f6f6f6;
  }
  .delete-btn {
    margin-right: 20px;
    width: 45px;
    height: 100%;
    font-size: 16px;
    background: #e15743;
    padding: 0px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    img {
      height: 30%;
    }
  }
}
